.App {
  font-family: sans-serif;
  text-align: center;
}
/* .fontSize {
  font-size: 100px;
  color: aqua;
}
.green {
  font-size: 100px;
  color: green;
}

.red {
  font-size: 100px;
  color: red;
}

.blue {
  font-size: 100px;
  color: blue;
} */
